* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.wrapper {
  padding: 10px;
  display: flex;
  width: 500px;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto;
  cursor: pointer;
  /* border: 1px solid; */
}

.wrapper div {
  height: 100px;
  width: 100px;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

#displayButton {
  text-align: center;
}
